@media only screen and (min-width: 1090px) {
	.banner{
		position: relative;
		background-image: url('#{ $imgPath }banner.jpg');
		background-size: cover;
		background-position: center center;
		background-attachment: fixed;
		padding: 3rem;
		height: 100vh;
		&__date{
			max-width: 1880px;
			margin: 0 auto 2rem;
			font-family: "Whoopass";
			text-align: right;
			font-size: $heading4;
			color: $white;
			cursor: default;
		}
		&__logo-shape{
			position: absolute;
			top: 40%;
			left: 50%;
			transform: translateX(-50%) translateY(-50%);
			width: 100%;
			text-align: center;
			svg{
				width: 300px;
				height: 300px;
				.cls-1{
					fill:#e52114;
				}
				.cls-2{
					fill:#fecb5a;
				}
				.cls-3{
					fill:#6f0934;
				}
			}
		}
		&__slogan{
			cursor: default;
			position: absolute;
			bottom: 3em;
			left: 50%;
			transform: translateX(-50%);
			font-family: "Whoopass";
			color: #6f0934;
			font-size: $heading3;
			max-width: 650px;
			margin-bottom: 1em;
			line-height: 1.35em;
		}
	}
}
@media only screen and (min-width: 768px) and (max-width: 1089px) {
	.banner{
		background-image: url('#{ $imgPath }banner.jpg');
		background-size: cover;
		background-position: center center;
		background-attachment: fixed;
		padding: 1.2rem;
		height: 100vh;
		&__date{
			cursor: default;
			margin: 100px 0 2rem;
			font-family: "Whoopass";
			text-align: right;
			font-size: $heading4;
			color: $white;
		}
		&__logo-shape{
			margin: 0em auto 3em;
			width: 100%;
			text-align: center;
			svg{
				width: 250px;
				height: 250px;
				.cls-1{
					fill:#e52114;
				}
				.cls-2{
					fill:#fecb5a;
				}
				.cls-3{
					fill:#6f0934;
				}
			}
		}
		&__slogan{
			cursor: default;
			font-family: "Whoopass";
			color: #6f0934;
			font-size: $heading4;
			width: 60%;
			margin: 0 auto;
			line-height: 1.35em;
		}
	}
}
@media only screen and (max-width: 767px) {
	.banner{
		background-image: url('#{ $imgPath }banner2.jpg');
		background-size: cover;
		background-position: center center;
		background-attachment: fixed;
		padding: 1.2rem;
		height: 100vh;
		&__date{
			margin: 100px 0 2rem;
			font-family: "Whoopass";
			text-align: right;
			font-size: $heading4;
			color: $white;
		}
		&__logo-shape{
			margin: 0 auto 3em;
			text-align: center;
			width: 60%;
			svg{
				width: 125px;
				height: 125px;
				.cls-1{
					fill:#e52114;
				}
				.cls-2{
					fill:#fecb5a;
				}
				.cls-3{
					fill:#6f0934;
				}
			}
		}
		&__slogan{
			font-family: "Whoopass";
			color: #6f0934;
			font-size: $currentText;
			width: 80%;
			margin: -1em auto;
			line-height: 1.35em;
		}
	}
}