@media only screen and (min-width: 980px) {
	.remerciement{
		background-color: $white;
		line-height: 1.35em;
		padding: 5rem 0 2rem;
		// widows: 100%;
		&__heading3{
			max-width: 640px;
			margin: 0 auto 1em;

			letter-spacing: 2px;
			color: $black;
			padding: 1em 3rem;
			position: relative;
			left: -1.5em;
			// margin-bottom: 2em;
			position: relative;
			border-bottom: 10px solid $purple;
			// width: 25%;
		}
		&__content{
			max-width: 640px;
			margin: 0 auto;
			&--txt{
				margin-bottom: 1em;
				em{
					strong{
						font-family: "Good_vibes";
						font-size: $heading4;
					}
				}
			}
		}
		&__cta{
			display: none;
			max-width: 640px;
			margin: 0 auto;
		}
	}
	.all-partenaire{
		@media only screen and (min-width: 2001px) {
			margin: 0 auto;
		}
		padding: 2rem 5rem 5rem;
		// max-width: 1800px;
		color: $black;
		background-color: $white;
		// padding: 3rem;
		&__heading4{
			max-width: 1800px;
			margin: 0 auto;
			padding-top: 1em;
		}
		&__bloc{
			max-width: 1800px;
			margin: 0 auto;
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
			align-items: center;
			&--link{
				padding: 1em 2em;
				img{

				}
			}
		}
	}
}
@media only screen and (max-width: 979px) {
	.remerciement{
		background-color: $white;
		line-height: 1.35em;
		padding: 5rem 1.2rem 2rem;
		&__heading3{
			max-width: 640px;
			margin: 0 auto 1em;
		}
		&__content{
			max-width: 640px;
			margin: 0 auto;
			p{
				margin-bottom: 1em;
				&:last-child{
					font-family: "Good_vibes";
					font-size: $subHeading4
				}
			}
		}
		&__cta{
			// display: none;
			max-width: 640px;
			margin: 0 auto;
		}
	}
	.all-partenaire{
		padding: 4rem 0;
		color: $black;
		background-color: $white;
		&__heading4{
			padding: 1em 1.2rem;
		}
		&__bloc{
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
			align-items: center;
			&--link{
				padding: 1em 1.2rem 0;
				img{

				}
			}
		}
	}
}