/* Képhren SIMONIS
 *
 * /sass/styles.scss - Main stylesheet
 *
 * coded by Képhren SIMONIS
 * started at 19/09/2017
 */

// Variables

// Fontawesome
@font-face {
    font-family: '';
    src: url('#{ $fontPath }/.eot');
    src: url('#{ $fontPath }/.eot?#iefix') format('embedded-opentype'),
         url('#{ $fontPath }/.woff2') format('woff2'),
         url('#{ $fontPath }/.woff') format('woff'),
         url('#{ $fontPath }/.ttf') format('truetype'),
         url('#{ $fontPath }/.svg#regular') format('svg');
    font-weight: normal;
    font-style: normal;
}
