/* Képhren SIMONIS
 *
 * /sass/styles.scss - Main stylesheet
 *
 * coded by Képhren SIMONIS
 * started at 19/09/2017
 */

$red: #e52114;
$darkRed: darken($red, 20);
$purple: #851B47;
$yellow: #fecb5a;

$white:  #F8F8F8;
$extraLightGrey: #E9E9E9;
$lightGrey: #D3D3D3 ;
$grey: #A9A9A9;
$darkGrey: #696969	;
$black: #282828;