/* Képhren SIMONIS
 *
 * /sass/styles.scss - Main stylesheet
 *
 * coded by Képhren SIMONIS
 * started at 19/09/2017
 */


$heading1: 6.854em;
$subHeading1: 5.773em;

$heading2: 4.236em;
$subHeading2: 3.608em;

$heading3: 2.618em;
$subHeading3: 1.9em;

$heading4: 1.618em;
$subHeading4: 1.234em;

$currentText: 1em;
$subText: 0.852em;

$cpr: 0.726em;